DcmsMobile/App_Data/MenuItems.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.eclsys.com/dcmsconnect/menuitems"
           xmlns:ns0="http://schemas.eclsys.com/dcmsconnect/menuitems">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="processes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="process" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:NCName" use="required">
                    <xs:annotation>
                      <xs:documentation>
                        This should be a string suitable for use as an id within HTML. Each category must have a unique id.
                        Items reference this id to indicate their category.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="sequence" type="xs:integer" use="optional" default="100000"></xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>
                    <xs:element name="keywords" minOccurs="0" maxOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="keyword" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="route" type="xs:NCName" use="required" />
                  <xs:attribute name="processidref" type="xs:NCName" use="optional" />
                  <xs:attribute name="shortcut" type="xs:string" use="required" />
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="mobile" type="xs:boolean" use="optional">
                    <xs:annotation>
                      <xs:documentation>Does this link display a mobile optimized screen?</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>

                  <xs:attribute name="visible" type="xs:boolean" use="optional" default="true">
                    <xs:annotation>
                      <xs:documentation>
                        Should this item be visible in menus ?
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>

                  <xs:attribute name="rating" type="xs:integer" use="optional" default="100000">
                    <xs:annotation>
                      <xs:documentation>
                        The rating of this item. Higher rated items display earlier in search results
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="sequence" type="xs:integer" use="optional" default="100000">
                    <xs:annotation>
                      <xs:documentation>
                        The sequence of this item within the process in the course of normal operations.
                      </xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
          <xs:key name="item_route_pk">
            <xs:annotation>
              <xs:documentation>Item routes must be unique</xs:documentation>
            </xs:annotation>
            <xs:selector xpath="ns0:item" />
            <xs:field xpath="@route" />
          </xs:key>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:key name="catid_pk">
      <xs:annotation>
        <xs:documentation>Category ids must be unique</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="ns0:processes/ns0:process" />
      <xs:field xpath="@id" />
    </xs:key>
    <xs:keyref name="item_cat_fk" refer="ns0:catid_pk">
      <xs:annotation>
        <xs:documentation>processidref of item must refer to a valid category id</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="ns0:items/ns0:item"></xs:selector>
      <xs:field xpath="@processidref"></xs:field>
    </xs:keyref>
  </xs:element>
</xs:schema>